@if (profile()) {
  <div class="profile-page">

    <div class="user-info">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 offset-md-1">
            <img [src]="profile()!.image" class="user-img" [alt]="profile()!.username" />
            <h4>{{ profile()!.username }}</h4>
            <p>{{ profile()!.bio }}</p>

            @if (isOwnProfile()) {
              <a routerLink="/settings" class="btn btn-sm btn-outline-secondary action-btn">
                <i class="ion-gear-a"></i> Edit Profile Settings
              </a>
            } @else {
              <app-follow-btn
                [profile]="profile()!"
                (profileChange)="onProfileChange($event)" />
            }
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">

          <div class="articles-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <a class="nav-link" href=""
                  [class.active]="activeTab() === 'articles'"
                  (click)="$event.preventDefault(); setTab('articles')">
                  My Articles
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""
                  [class.active]="activeTab() === 'favorites'"
                  (click)="$event.preventDefault(); setTab('favorites')">
                  Favorited Articles
                </a>
              </li>
            </ul>
          </div>

          <app-article-list [listConfig]="listConfig()" [limit]="5" />

        </div>
      </div>
    </div>

  </div>
}
